.__home_banner {
    min-height: 100vh;
    background-image: url("../../assets/images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .__silverfish_box {
        width: 100vw;
        height: 100vh;

        .__silverfish {
            &:nth-child(1) {
                width: 200px;
                height: auto;
                position: absolute;
                right: 15%;
                top: 20%;
            }

            &:nth-child(2) {
                width: 150px;
                height: auto;
                position: absolute;
                right: 5%;
                top: 25%;
            }

            &:nth-child(3) {
                width: 100px;
                height: auto;
                position: absolute;
                right: 10%;
                top: 15%;
            }
        }
    }
}