.button {
  display: block;
  font-family: var(--font-minecraft);
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  background: #999 url("/images/bg_btn.png") center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  box-shadow: inset -2px -4px #0004, inset 2px 2px #fff5;
  height: 40px;
}

.button:hover {
  border: solid 2px #fff;
}

.large_size {
  width: 400px;
}

.medium_size {
  width: 300px;
}

.small_size {
  width: 195px;
}
