//########### HOME BANNER #############
.home-banner{
  width: 100vw;
  height: 100vh;
}

.details-btn{
  margin: 100px;
  font-size: 25px;
  transition: 0.4s;
  &:hover{
    padding-left: 10px;
  }
}

.book{
  width: 35px;
  margin-bottom: -10px;
  pointer-events: none;
}

//############ BANNER #################
.banner{
  background-image: url("../assets/images/sky-night-shader.jpg");
  background-position: bottom center;
}

//########### VIDEO BANNER #############
.fullscreen-bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

#bg-video{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
