@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
}

main {
    background-color: #000;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maintenance{
    color: #fff;
    font-family: 'Montserrat', sans-serif;

    p{
        text-align: center;
    }
}