.error{
  display: table-cell;
  vertical-align: middle;
  & p{
    margin: 0;
    padding: 0;
    text-align: center;
    opacity: 0.5;
  }
  & .boat{
    position: absolute;
    top: 15%;
    left: 40%;
  }
  & .e404{
    font-family: "MinecraftRegular";
    font-size: 50px;
    margin-bottom: 20px;
  }
  background-image: url("../assets/images/error.png");
  background-position: bottom center;
  width: 100vw;
  height: 100vh;
}

.top-advancements{
  & .playername{
    font-family: "MinecraftRegular";
    font-size: 20px;
    color: $sky-blue;
  }
  & h2{
    margin-top: 50px;
  }
  .card-player{
    padding: 5px 0;
  }
  & .unlocked-advancements{
    color: $light-grey;
  }
}

//############ RESPONSIVE ##############
@media only screen and (max-width: 1200px){
}
