.__dashboard {
    background-color: rgba(128, 128, 128, 0.171);
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .__infos_board {
        background-color: rgba(0, 63, 136, 0.342);
        width: 200px;
        height: 200px;
        border-radius: 12px;
        padding: 20px;
        margin: 20px;
        color: #ffffff
    }
}